@charset "utf-8";
ul {
    list-style-type: none;
}
/***** Header *****/
#head {
    width: 988px;
    margin: 0 auto;

}
#head h1 {
    color: #e7bd51;
}
#nav {
    float: right;
    position: relative;
    top: 53px;
}
#nav li {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}
#nav ul li a,
#nav ul li a span { 
    font-size: 12px;
    font-weight: bold;
    float:left; 
    height:36px; 
    background:url(images/tab.gif) no-repeat 0 0; 
    padding:0 0 0 15px;
    color: #666;
}
#nav ul li a span { 
    background-position:right 0; 
    padding:0 15px 0 0;
}
#nav li a:hover{
    background-position:0 bottom;
}
#nav ul li a:hover span{ background-position:right bottom;}
#nav ul li a.active,
#nav ul li a:hover { background-position:0 bottom;}
#nav ul li a.active span,
#nav ul li a:hover span{ background-position:right bottom;}
#nav ul li a.active { font-size:12px; font-weight: bold; color:#887e42; }
/***** Login *****/
#login {
    width: 400px;
    margin: 150px auto;
    color: #333;
}
#login fieldset{
    background: #f8f8f8;
    padding: 15px;
    box-shadow: 0 5px 5px #ccc;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#login form legend{
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 3px 6px;
    margin-left: 15px;
    color: #666;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #ccc;
}
#login form label{
    display: block;
    padding: 5px 15px 0 15px;
}
#login form label img {
    margin: 0;
    float: right;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}
#login form input.text{
    width: 340px;
    height: 35px;
    padding: 3px 0 3px 8px;
    font-size: 17px;
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
}
#login form input.text:hover, #login form input.yzm:hover {
    border: 1px solid #e7bd51;
}
#login form input.text:focus, #login form input.yzm:focus {
    border: 1px solid #e7bd51;
}
#login form input.yzm {
    width: 160px;
    height: 35px;
    padding: 3px 0 3px 8px;
    font-size: 17px;
    color: #666;
    background: #fff;
    float: left;
    border: 1px solid #ccc;
}
#login form input.submit {
    width: 50px;
    height: 30px;
    margin: 8px 0 0 164px;
    border: none;
    background: #e7bd51;
    cursor: pointer;
    color: #943a10;
}
.disab{
    width: 50px;
    height: 30px;
    margin: 8px 0 0 164px;
    border: none;
    background: #aaa;
    color: #943a10;
}
#login form input.submit:hover{
    background: #e7cf92;
}
/***** Register *****/
#reg {
    width: 400px;
    margin: 50px auto;
}
#reg p.tip {
    margin-left: 10px;
}
#reg form {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 5px #ccc;
    background: #f8f8f8;
    margin: 20px 10px;
}
#reg form legend {
    font-family: Verdana, sans-serif;
    font-size: 22px;
    height: 22px;
    font-weight: normal;
    margin: 15px 0;
}
#reg form label {
    display: block;
    padding: 5px 15px 0 15px;
}
#reg form label img {
    margin: 0;
    float: right;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}
#reg form input.text {
    width: 340px;
    height: 35px;
    padding: 3px 0 3px 8px;
    font-size: 17px;
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
}
#reg form input.yzm {
    width: 160px;
    height: 35px;
    padding: 3px 0 3px 8px;
    font-size: 17px;
    color: #666;
    background: #fff;
    float: left;
    border: 1px solid #ccc;
}
#reg form input.text:hover, #reg form input.yzm:hover {
    border: 1px solid #e7bd51;
}
#reg form input.text:focus, #reg form input.yzm:focus {
    border: 1px solid #e7bd51;
}
#reg form input.submit {
    width: 50px;
    height: 30px;
    margin: 8px 0 15px 164px;
    border: none;
    background: #e7bd51;
    cursor: pointer;
    color: #943a10;
}
#reg form input.submit:hover{
    background: #e7cf92;
}