<php>
	define('HEADER',2);
</php>
<!DOCTYPE HTML>
<html>
<head>
	<title>关于本站</title>
<!-- 引入脚本和css -->
	<include file="./Application/Home/Public/link_script.html" />
</head>
<body>
<!---header-->
<include file="./Application/Home/Public/header.html" />
<!--/header-->
<div class="about-content">
	 <div class="container">
		 <h2>博客简介</h2>
		 <div class="about-section">
			 <div class="about-grid">
				 <h3>为什么我要创建这个博客?</h3>
				 <p style="text-indent:2em;">这个博客,是我使用thinkphp框架做的第一个项目,也是我使用php做的第一个完整的项目.博客内容是从网络上选取的,如果侵犯了您的权益,请联系我删除.不过你可能并不会发现我用了你的文章,因为我并不准备将博客正式运营.这个项目这是我的一个练手项目,完全是给自己看的,所以不必担心侵权.
				 </p>
				 <p style="text-indent:2em;">上面那段话已经把我要说的说完了,这段话完全是为了凑字数,保持版面完整性,所以你可以忽略他.哦,对了,这个博客只有我能看到,那我为什么还要说呢?因为字数还没有凑够啊,字数不够不好看,我也是很无奈啊.
				 </p>
			 </div>
			 <div class="about-grid2">
				 <h3>WHY YOU SHOULD READ THIS BLOG?</h3>
				 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
				 versions of Lorem Ipsum.</p>	
				 <ul>
					 <li><a href="#">Always free from repetition</a></li>
					 <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
					 <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
					 <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
					 <li><a href="#">Ultrices rhoncus nibh quis dui.</a></li>
				 </ul>	
			 </div>
			 <div class="who-iam">
				 <h3>WHO THE IAM?</h3>
				 <div class="man-info">
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
				     <h4>Some facts about me.</h4>  
					 <li>Nullam at turpis a orci pretium pharetra.</li>
					 <li>Curabitur tincidunt purus mollis facilisis placerat.</li>
					 <li>Mauris a nulla ac est tincidunt interdum.</li>
					 <li>Pellentesque vel enim nec urna imperdiet mollis.</li>
					 <li>Integer interdum risus et scelerisque volutpat.</li>
				 </div>
				 <div class="man-pic">
				 <img src="__PUBLIC__/images/man.jpg" alt=""/>
				 </div>
				 <div class="clearfix"></div>
			 </div>			 
		  </div>		 
	  </div>
</div>
<!---->
<include file="./Application/Home/Public/footer.html" />