<php>
	define('HEADER',0);
</php>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{$res.title}</title>

<!---->
<include file="./Application/Home/Public/link_script.html" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/single.css" />
</head>
<body>
<!---header-->			
<include file="./Application/Home/Public/header.html" />
<!--/header-->

<!-- <volist name="res.test" id="vo">
	<p>{$vo}</p>
	</volist> -->
<div class="single">
	<div class="container">
		<div class="col-md-8 single-main">				 
			<div class="single-grid">
				<img src="__PUBLIC__/images/post1.jpg" alt=""/>	
				<div class="post-info">					
				<h4><a href="">{$res.title}</a>-- {$res.author} {$res.date}</h4>
				</div>
				<volist name="res.content" id="vo">
				<p style="font-family:仿宋;font-size:19px;text-indent:2em;margin:0;color:#222">{$vo}</p>
			</volist>
			</div>
			<div class="prev">
				<if condition="$prev">
				<p><strong>上一篇:</strong>
				<a href="__CONTROLLER__/single?title={$prev.id}">{$prev.title}</a></p>
				<else /><p><strong>上一篇: 已经到头了</strong></p>
				</if>
			</div>
			<div class="next">
				<if condition="$next">
				<p><strong>下一篇:</strong>
				<a href="__CONTROLLER__/single?title={$next.id}">{$next.title}</a></p>
				<else /><p><strong>下一篇: 已经到头了</strong></p>
				</if>
			</div>
			<hr />
			<div class="comment">
				<h3>评论一下</h3>
				<div class="text-box">
					<form action="__MODULE__/User/comment" method="post">
						<textarea name="comm"></textarea>							
						<span><p>请注意文明用语!</p><input type="submit" value="评论"/></span>
					</form>
				</div>
			</div>
		</div>
		  	<include file="./Application/Home/Public/righter.html" />
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!---->
<include file="./Application/Home/Public/footer.html" />