<html>
<head>
<link rel="stylesheet" href="__PUBLIC__/css/face.css">
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
    <div id="face">
    <php>
        for($i=1;$i<10;$i++){echo "<img src=\"__PUBLIC__/images/face0$i.png\" class=\"face\" name=\"face0$i\" alt=\"头像\" />";}
        for($i=1;$i<7;$i++){echo "<img src=\"__PUBLIC__/images/face1$i.png\" class=\"face\" name=\"face1$i\" alt=\"头像\" />";}
    </php>
    </div>
</body>
</html>