<php>
    define('HEADER','2');
</php>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>后台管理系统</title>
    <!-- 导入字符集样式表和脚本文件 -->
    <include file="./Application/Admin/Public/link_script.html" />    
</head>
<body>
<!-- Header -->
<include file="./Application/Admin/Public/header.html" />
<!-- End Header -->
<div id="container">
		<div class="shell">
			<div class="small-nav">
				<a href="#">文章管理</a>
				<span>&gt;</span>
<if condition="$Cont eq 'show'">
			文章列表
			</div>
<!-- Main1 -->
			<div id="main">
				<div class="cl">&nbsp;</div>
				<!-- Content -->
				<div id="content">
					<!-- Box -->
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2 class="left">文章列表</h2>
							<div class="right">
								<form action="" method="post">
									<input type="hidden" name="ts" value="submit" />
									<label>查找标题</label>
									<input type="text" class="field small-field" name="search" />
									<input type="submit" class="button" value="搜索" />
								</form>
							</div>
						</div>
						<!-- End Box Head -->
						<!-- Table -->
						<div class="table">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th width="13">
										<input type="checkbox" class="checkbox" />
									</th>
									<th>标题</th>
									<th>发布时间</th>
									<th>作者</th>
									<th width="110" class="ac">操作</th>
								</tr>
								<volist name="res" id="vo">
								<tr>
									<td>
										<input type="checkbox" class="checkbox" />
									</td>
									<td class="abcde">
										<h3>
											<a href="#" id="{$vo.id}">{$vo.title}</a>
										</h3>
									</td>
									<td>{$vo.date}</td>
									<td>
										<a href="#">{$vo.author}</a>
									</td>
									<td>
										<a href="__CONTROLLER__/del?id={$vo.id}" class="ico del" onclick="return confirm('你要删除这篇文章么?');">删除</a>
										<a href="__CONTROLLER__/updateCont?id={$vo.id}" class="ico edit">修改</a>
									</td>
								</tr>
								<tr class="hide-tr" id="tr{$vo.id}">
									<td colspan="5">{$vo.content|msubstr=0,200}</td>
								</tr>
								</volist>
							</table>
							<!-- Pagging -->
							<div class="pagging">{$page}</div>
							<!-- End Pagging -->
						</div>
						<!-- Table -->
					</div>
					<!-- End Box -->
				</div>
				<!-- End Content -->
				<!-- Sidebar -->
				<div id="sidebar">
					<!-- Box -->
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2>控制面板</h2>
						</div>
						<!-- End Box Head-->
						<div class="box-content">
							<a href="__CONTROLLER__/addCont" class="add-button">
								<span>添加新的文章</span>
							</a>
							<div class="cl">&nbsp;</div>
							<p class="select-all">
								<input type="checkbox" class="checkbox" />
								<label>select all</label>
							</p>
							<p>
								<a href="#">删除 Selected</a>
							</p>
							<!-- Sort -->
							<div class="sort">
								<label>排序方式</label>
								<select class="field">
									<option value="">标题</option>
								</select>
								<select class="field">
									<option value="">日期</option>
								</select>
								<select class="field">
									<option value="">作者</option>
								</select>
							</div>
							<!-- End Sort -->
						</div>
					</div>
					<!-- End Box -->
				</div>
				<!-- End Sidebar -->
				<div class="cl">&nbsp;</div>
			</div>
			<!-- Main1 -->
	</div>
</div>
<elseif condition="$Cont eq 'add'" /> 
			添加文章 
			</div>
			<!-- Main -->
			<p id="error"></p>
			<div id="main">
				<div class="cl">&nbsp;</div>
				<!-- Content -->
				<div id="content-add">
					<!-- Box -->
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2>{$title}</h2>
						</div>
						<!-- End Box Head -->
						<form action="" method="post">
							<!-- Form -->
							<div class="form">
								<p>
									<span class="req pan">最多50个字</span>
									<label>
										<span class="pan">*</span>
										文章标题
										<span class="pan">(Required Field)</span>
									</label>
									<input type="text" class="field size4" name="title" value="{$res.title}" />
								</p>
								<p class="inline-field">
									<span class="req pan">最多20个字</span>
									<label class="">
										作者
										<span class="pan"> (Required Field)</span>
										<span class="from">
											来源
											<span> (Required Field)</span>
										</span>
									</label>
									<input type="text" class="field size5" name="author" value="{$res.author}" />
									<input type="text" class="field size5" name="con_from" value="{$res.con_from}" />
								</p>
								<!-- <p class="inline-field">
                                        <label>日期</label>
                                        <select class="field size2">
                                        <for start="1" end="32">
                                            <option value="">{$i}日</option>
                                        </for>
                                        </select>
                                        <select class="field size3">
                                        <for start="1" end="13">											
                                            <option value="">{$i}月</option>
                                        </for>
                                        </select>
                                        <select class="field size3">
                                        <for start="2017" end="2019">											
                                            <option value="">{$i}年</option>
                                        </for>
                                        </select>
                                    </p> -->
								<p class="text-height">
									<label>
										<span class="pan">*</span>
										内容
										<span class="pan">(Required Field)</span>
									</label>
									<textarea name="content" class="editor-height" id="editor" cols="30" rows="10">{$res.content}</textarea>
									<!-- <textarea class="field size4" rows="10" cols="30" name="content" id="content-t" wrap="Virtual">{$res.content}</textarea> -->
								</p>
							</div>
							<!-- End Form -->
							<!-- Form Buttons -->
							<div class="buttons">
								<input type="submit" class="button" value="提交" />
							</div>
							<!-- End Form Buttons -->
						</form>
					</div>
					<!-- End Box -->
				</div>
<script>
    var ue = UE.getEditor('editor',{  
                //这里可以选择自己需要的工具按钮名称
                toolbars:[['FullScreen','Source','|', 'Undo', 'Redo','|','bold', 'italic', 'underline','|', 'fontfamily','fontsize', '|', 'date', 'time', '|', 'strikethrough', 'superscript', 'subscript',]], 
                enterTag:'br',
            });
    window.UEDITOR_HOME_URL = "./Application/Admin/Public/ueditor/"
            
</script>
</if>
		</div>
	</div>
</div>
<!-- Footer -->
<include file="./Application/Admin/Public/footer.html" />
<!-- End Footer -->
        
</body>
</html>