<php>
    define('HEADER','0');
</php>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>后台管理系统</title>
    <!-- 导入字符集样式表和脚本文件 -->
    <include file="./Application/Admin/Public/link_script.html" />    
</head>
<body>
<!-- Header -->
<include file="./Application/Admin/Public/header.html" />
<!-- End Header -->
<div id="container">
	<div class="shell">
		<div class="small-nav">
			<a href="__CONTROLLER__/index">主控页面</a>
			<span>&gt;</span>
			帮助
		</div>
		帮助
	</div>
</div>
<!-- Footer -->
<include file="./Application/Admin/Public/footer.html" />
<!-- End Footer -->
        
</body>
</html>